/* Global Styles */
*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-family: 'Oswald';
}

p {
    font-family: 'Montserrat';
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #303030;
    height: 100px;
    width: 100%;
    max-width: 1440px;

}

header .logo {
    height: 67px;
    width: 127px;
}

header .navbar {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 2.5rem;
}

.navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald';
}

.search {
    height: 30px;
    width: 30px;
}

/* Main - Section 01 */

.register-now {
    background: url(img/img-header-1.jpg) no-repeat;
    height: 690px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.register-now h1 {
    font-size: 12.5rem;
    color: #ffffff;
    margin-left: 2.0rem;
}

.register-now p {
    font-size: 3rem;
    color: #ffffff;
    max-width: 50%;
    flex-wrap: wrap;
    margin-left: 2.0rem;
    margin-bottom: 0.5rem;
}

.register-now .button {
    width: 325px;
    height: 65px;
    font-size: 3rem;
    color: #ffffff;
    background-color: #e8631c;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 7rem;
    margin-left: 2rem;
}

/* Main - Section 02 */

.cards {
    background: url(img/background2.png) no-repeat;
    height: 790px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards > h1 {
    font-size: 7.5rem;
    color: #ffffff;
    margin-top: 4.5rem;
}

.cards > p {
    font-size: 3rem;
    color: #ffffff;
    max-width: 80%;
    text-align: center;
    margin-bottom: 2.0rem;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;

}

.cards .card-1 {
    background: url(img/firstman.png) no-repeat;
    height: 474px;
    width: 372px;
    margin:auto;
}

.cards .card-2 {
    background: url(img/secondman.png) no-repeat;
    height: 474px;
    width: 372px;
    margin:auto;
}

.cards .card-3 {
    background: url(img/thirdman.png) no-repeat;
    height: 474px;
    width: 372px;
    margin: auto;
}

.container-description {
    height: 150px;
    width: 100%;
    max-width: 1440px;
}

.description-1 h1, .description-2 h1, .description-3 h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #ffffff;
    margin-top: 1rem;
}

.description-1 p, .description-2 p, .description-3 p {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

.description-1, .description-2, .description-3 {
    height: 150px;
    width: 372px;
    background-color: #303030;
    margin-top: 320px;
}

@media (max-width: 1370px) {
    .register-now {
        background: url(img/img-header-1370.jpg) no-repeat;
        height: 66rem;
        width: 100%;
        max-width: 1370px;
    }
    .register-now > h1 {
        font-size: 10rem;
        margin-left: 70px;
    
    }
    .register-now > p {
        font-size: 2rem;
        margin-left: 70px;
        max-width: 40%;
    }
    .register-now > .button {
        font-size: 2rem;
        font-family: 'Oswald';
        text-transform: uppercase;
        height: 8vh;
        width: 20vw;
        margin-left: 70px;
        margin-bottom: 100px;
    }
    
}

@media (max-width: 1164px) {
    .card-3 {
        margin-top: 25px;
    }
    .cards {
        background: url(img/background1024.png);
        height: 130rem;
    }
}

@media (max-width: 1024px) {
    .register-now {
        background: url(img/img-header-1024.jpg) no-repeat;
        height: 49.3rem;
        width: 100%;
        max-width: 1024px;
    }

    .register-now h1 {
        font-size: 8rem;
    }

    .register-now p {
        font-size: 2rem;
        max-width: 45%;
    }

    .register-now .button {
        margin-bottom: 4rem;
    }

    .card-3 {
        margin-top: 25px;
    }

    .cards > p {
        font-size: 2rem;
    } 
    
    .cards {
        background: url(img/background1024.png);
        height: 125rem;
    }

@media (max-width: 768px) {
    header nav ul li a {
        font-size: 2rem;
    }
    .register-now {
        background: url(img/img-header-768.jpg) no-repeat;
        height: 37rem;
    }
    .register-now h1 {
        font-size: 5rem;
    }
    .register-now p {
        font-size: 1.5rem;
    }
    .cards {
        height: 175rem;
    }
}

    
}